@model IEnumerable<Lab01.WebDemo.Models.Tintuc>

@{
    ViewBag.Title = "Tin tức theo thể loại";
}

<h2>@ViewBag.CategoryName</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@item.Tieudetin</h5>
                    <p class="card-text">@item.Noidungtin</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>