@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    <input type="hidden" name="token" value="@ViewBag.Token" />
    <div class="form-group">
        <label>New Password</label>
        <input name="newPassword" type="password" class="form-control" required minlength="6" />
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>